<!----- Footer ----->
<footer>
  <div class="footer-clean">
    <div class="row justify-content-center">
      <div class="footer-text">
        <p>If you want to work with us, click on the links below</p>
      </div>
      <div class="text-center">
      <section class="mb-4 text-center">
        <a class="btn_jeje" href="https://github.com/Djepomonti" target="_blank" role="button">
        <i class="fab fa-github"></i></a>
        <a class="btn_mat" href="https://github.com/MatWebDev" target="_blank" role="button">
        <i class="fab fa-github"></i></a>
        <a class="btn_lou" href="https://github.com/Marilou013" target="_blank" role="button">
        <i class="fab fa-github"></i></a>
        <a class="btn_gui" href="https://github.com/JeeTeee" target="_blank" role="button">
        <i class="fab fa-github"></i></a>
      </section>
    </div>
    <p>© 2022 Copyright Passengers</p>
  </div>
</footer>
