<div class="centerbouton">
<div class="bouton"><%= link_to "Contact", chatroom_path(id: 1) %></div>
<div class="bouton"><%= link_to "Send quote", new_project_collaboration_path(@project) %></div>
</div>
