<div class="banner-home">
  <div class="logo-home">
  </div>
  <h1>Have a project? We have developpers!</h1>
  <div class="call-div">
    <%= link_to "Submit your project", new_project_path, class:"call-to-action" %>
  </div>
  <a class="arrow" href="#fonctionnement">
    <span class="fleche"></span>
    <span class="fleche"></span>
    <span class="fleche"></span>
  </a>
</div>

<div class="cartes-container-home" id="fonctionnement">
  <h3 class="blurred">How we work</h3>
  <h2>How we work</h2>
  <div class="cartes-flexbox">
    <div class="carte-home">
      <div class="picto">
        <i class="fa-solid fa-cloud-arrow-up"></i>
      </div>
      <div class="carte-title-home">
        <h3>Submit your project</h3>
      </div>
      <div class="carte-description-home">
        <p>Have an idea? Tell us more about your project and submit it to Passengers!</p>
      </div>
    </div>

    <div class="carte-home" id="carte-home">
      <div class="picto">
        <i class="fa-solid fa-code"></i>
      </div>
      <div class="carte-title-home">
        <h3>We find a developper</h3>
      </div>
      <div class="carte-description-home">
        <p>Passengers offers you the best selection of developers for your project!</p>
      </div>
    </div>

    <div class="carte-home">
      <div class="picto">
       <i class="fa-sharp fa-solid fa-rocket"></i>
      </div>
      <div class="carte-title-home">
        <h3>Collaborate together</h3>
      </div>
      <div class="carte-description-home">
        <p>All you have to do is discuss your project with the developper you choose and the adventure begins!</p>
      </div>
    </div>
  </div>

  <h3 class="blurred">Ready?</h3>
  <h2>Ready for a nice trip?</h2>
  <div class="bottom-call-to-action">
    <%= link_to "Submit your project", new_project_path, class:"call-to-action" %>
  </div>
</div>
