<div class="banner">
    <div class="text-box">
        <h1>Passengers</h1>
        <h2>You have an <span class="changecolor">idea?</span></h2>
        <h2>We have <span class="changecolor">developpers</span></h2>
          <a class="arrow" href="#project">
                <span class="fleche"></span>
                <span class="fleche"></span>
                <span class="fleche"></span>
          </a>
    </div>
</div>
<div class="homecontainer" id = "project">
    <div class="homecarte1">
        <div class="textecartehome1">
        <h3>Sumbit your project</h3>
        <p>Have an idea?<br>Tell us more about your project!</p>
        </div>
    </div>
    <div class="homecarte2">
        <div class="textecartehome2">
        <h3>We find the developers</h3>
        <p>Passengers offers you the most suitable developers for your project</p>

        </div>
    </div>
    <div class="homecarte3">
        <div class="textecartehome3">
        <h3>Collaborate together</h3>
        <p>All you have to do is discuss your project and the adventure begins!</p>

        </div>
    </div>
</div>
