<div class="banner">
    <div class="text-box">
        <h1>Passengers</h1>
        <h2>Vous avez des <span class="changecolor">idées?</span></h2>
        <h2>nous avons des <span class="changecolor">développeurs</span></h2>
          <div class="arrow">
                <span class="fleche"></span>
                <span class="fleche"></span>
                <span class="fleche"></span>
          </div>
    </div>
</div>
