<div class="banner">
    <div class="text-box">
        <h1>Passengers</h1>
        <h2>Vous avez des <span>idées?</span></h2>
        <h2>nous avons des <span>développeurs</span></h2>
    </div>
</div>
