<div class="banner">
    <div class="text-box">
        <h1>Passengers</h1>
        <h2>You have an <span class="changecolor">idea?</span></h2>
        <h2>We have <span class="changecolor">developpers</span></h2>
          <a class="arrow" href="#project">
                <span class="fleche"></span>
                <span class="fleche"></span>
                <span class="fleche"></span>
          </a>
    </div>
</div>
<div class="homecontainer" id = "project">
    <div class="homecarte1">
        <div class="textecartehome1">
        <h3>déposez un projet</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti libero, reiciendis quidem voluptas numquam qui sunt doloremque</p>
        </div>
    </div>
    <div class="homecarte2">
        <div class="textecartehome2">
        <h3>déposez un projet</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti libero, reiciendis quidem voluptas numquam qui sunt doloremque</p>

        </div>
    </div>
    <div class="homecarte3">
        <div class="textecartehome3">
        <h3>déposez un projet</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti libero, reiciendis quidem voluptas numquam qui sunt doloremque</p>

        </div>
    </div>
</div>
