<div class="project-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'all_projects3.jpg' %>);">
  <div class="project-container">
    <div class="project-title">
      <h1>Some projects selected for you by Passengers</h1>
    </div>
  </div>
</div>

<div class="freelancers">
  <% @projects.each do |project| %>
    <div class="all-projects">
      <%= link_to project_path(project) do %>
      <div class="freelancer-card">
        <div class="firstinfo">
          <div class="profileinfo">
            <h1>
            <%= project.title %>
            </h1>
            <p class="bio"><%= project.description %></p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
