.all-projects-container {
  margin-top: 20px;
  margin: 0 auto;
  width: 80%;

  h2 {
    margin-bottom: 40px;
  }
}

.all-projects {
  margin-bottom: 50px;
  transition: all 0.2s ease-in-out;
}

.all-projects:hover {
  transform: scale(1.02);
}
