.banner {
  background-image: url(passengersgif);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 0;
  position: relative;
}
.text-box {
  padding-top: 100px;
  padding-left: 50px;

  h1 {
    color: white;
    font-size: 96px;
    text-shadow: #474747 3px 5px 2px;
    font-weight: bold;
  }
  h2 {
    color: white;
    font-size: 96px;
    text-shadow: #474747 3px 5px 2px;
    font-size: 48px;
    font-weight: bold;
    padding-top: 350px;
  }
  h2:nth-child(3) {
    padding-top: 0;
    padding-left: 800px;
  }

  span .changecolor {
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
  }
}

// ----------------------------------------------------------------FLECHE________________________________________________________________
.arrow {
  padding-top: 70px;
  // position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.arrow .fleche {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #e9eced;
  border-right: 5px solid #eceff1;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow .fleche:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow .fleche:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.banner-project-form {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("pexels-fauxels-3183153");
}

.banner-project-form h1 {
  color: white;
  font-size: 72px;
  text-shadow: #474747 3px 5px 2px;
  font-weight: bold;
}



// .banner-project-form p {
//   font-size: 20px;
//   color: white;
//   opacity: .7;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// }
// ----------------------------------------------------------------Banner________________________________________________________________

.banner-home {
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(home-banner-passengers);
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  h1 {
    color: $white;
  }
  .call-div {
    margin-top: 24px;
    margin-bottom: 30px;
  }
}

.call-to-action {
  text-decoration: none;
  padding: 8px 12px;
  background-color: $orange;
  color: $white;
  border-radius: 4px;
  &:hover {
    color: $white;
    background-color: $green;
  }
}

.logo-home {
  background-image: url(home_passengers_logo);
  width: 500px;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cartes-container-home {
  width: 1300px;
  padding: 50px 0;
  margin: 0 auto;
  .cartes-flexbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
  }
  h2 {
    margin-bottom: 80px;
    text-align: center;
    line-height: 60px;
    font-size: 46px;
    color: $black;
  }
  p {
    text-align: center;
  }
  .blurred {
    text-align: center;
    // margin-top: 0;
    line-height: 0;
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 100px;
    filter: blur(6px);
    opacity: 0.5;
    color: grey;
  }
  .bottom-call {
    text-align: center;
    margin: 50px auto;
  }
}

.carte-home {
  background-color: $orange;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 4px;
}

.picto {
  color: $gray;
  font-size: 30px;
}

.bottom-call-to-action {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
