// Bouton du formulaire pour déposer un devis
// À voir si on garde le orange
.bouton-moyen {
    background: #FF7F3F;
    border: 1px solid #FF7F3F;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 10px 16px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }

  .bouton-moyen:hover,
  .bouton-moyen:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF7F3F;
  }

  .bouton-moyen:active {
    opacity: .5;
  }

  .bouton-large {
    background: #FF7F3F;
    border: 1px solid #FF7F3F;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 300;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 20px;
    margin: 30px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }

  .bouton-large:hover,
  .bouton-large:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF7F3F;
  }

  .bouton-large:active {
    opacity: .5;
  }

// BOUTONS GITHUB FOOTER
// ---- bouton Jérome----
.btn_jeje {
  border: solid 1px white;
  border-radius: 3px;
  padding: 6px 12px;
  margin-right: 20px;
  color: white;
}

.btn_jeje:hover {
  background-color: white;
  color: black;
}

.btn_jeje:after {
  content: "";
  opacity: 0%;
  display: inline-block;
  position: relative;
  right: -10px;
  transition: all 0.4s ease;
  background-color: white;
}

.btn_jeje:hover:after {
  content: "Jérome";
  display: inline-block;
  position: relative;
  opacity: 100%;
  margin: -5px 15px;
  right: 0px;
  transition: all 0.4s ease;
  background-color: white;
}

// ---- bouton Mathieu ----
.btn_mat {
  border: solid 1px white;
  border-radius: 3px;
  padding: 6px 12px;
  margin-right: 20px;
  color: white;
}

.btn_mat:hover {
  background-color: white;
  color: black;
}

.btn_mat:after {
  content: "";
  opacity: 0%;
  display: inline-block;
  position: relative;
  right: -10px;
  transition: all 0.4s ease;
  background-color: white;
}

.btn_mat:hover:after {
  content: "Mathieu";
  display: inline-block;
  position: relative;
  opacity: 100%;
  margin: -5px 15px;
  right: 0px;
  transition: all 0.4s ease;
  background-color: white;
}

// ---- bouton Marilou ----
.btn_lou {
  border: solid 1px white;
  border-radius: 3px;
  padding: 6px 12px;
  margin-right: 20px;
  color: white;
}

.btn_lou:hover {
  background-color: white;
  color: black;
}

.btn_lou:after {
  content: "";
  opacity: 0%;
  display: inline-block;
  position: relative;
  right: -10px;
  transition: all 0.4s ease;
  background-color: white;
}

.btn_lou:hover:after {
  content: "Marilou";
  display: inline-block;
  position: relative;
  opacity: 100%;
  margin: -5px 15px;
  right: 0px;
  transition: all 0.4s ease;
  background-color: white;
}

// ---- bouton Guillaume ----
.btn_gui {
  border: solid 1px white;
  border-radius: 3px;
  padding: 6px 12px;
  margin-right: 20px;
  color: white;
}

.btn_gui:hover {
  background-color: white;
  color: black;
}

.btn_gui:after {
  content: "";
  opacity: 0%;
  display: inline-block;
  position: relative;
  right: -10px;
  transition: all 0.4s ease;
  background-color: white;
}

.btn_gui:hover:after {
  content: "Guillaume";
  display: inline-block;
  position: relative;
  opacity: 100%;
  margin: -5px 15px;
  right: 0px;
  transition: all 0.4s ease;
  background-color: white;
}
