.carte-project {
  background-color: #fd9014a0;
  width: 300px;
  height: auto;
  display: flex;
  margin-bottom: 40px;
  position: relative;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $orange;
    transform: scale(1.02)  ;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}
}

.carte-content {
  // border: solid 1px black;
  padding: 20px;
  margin-bottom: 20px;
  i{
  color: white;
  font-size: 36px;
  text-align: center;
  padding-bottom: 10px;
  }
  p{
  background-color: #f6d4aca0;
  color: black;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
}

#poubelle {
  background-color: #fd901400;
  color: $black;
  padding: 16px;
  border-radius: 50%;
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #FD9214;
  }
}

.plus {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 24px;
}

#add-project {
  color: $black;
  font-size: 40px;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $orange;
    transform: rotate(360deg);
  }
}

.containercustomer {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0 auto;
  a {
    text-decoration: none;
    color: black
  }
}

.welcomecustomer {
  text-align: center;
  line-height: 100px;
}
.current {
  margin-top: 25px;
  margin-bottom: 25px;
}
