.navpassengers {
  top: 0;
  z-index: 99;
  color: white;
  width: 100%;
  background-color: $gray;
  height: 50px;
  padding: 12px;

  .menu {
    display: flex;
    text-align: center;
    justify-content: space-between;

    .sous-menu {
    display: flex;
    text-align: end;
    }
  }

  a{
    text-decoration: none;
    padding: 0 15px;
    color: white;

  }
 a::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0%;
    height: 2px;
    background-color: #f1f1f1;
    transition: width 0.2s ease-in-out;
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -ms-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
  }

  a:hover::after {
    width: 100%;
  }

  li {
    list-style: none;
  }
}
