.project-container {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  background: white;
  margin-top: 30px;
  padding: 30px;
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  p {
    font-style: italic;
  }
  .proposed-by {
    font-size: 16px;
  }
}

.collaborations-customer {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.collabs {
  margin: 30px 0px 30px 0px;
  display: flex;
}

.fondproject {
  background-color: #576a88;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}

.containerproject {
  width: 960px;
  height: auto;
  margin: 0 auto;
}
.carteproject {
  background-image: url(tickets);
  background-position: center;
  background-repeat: no-repeat;

  width: 960px;
  height: 502px;
}
.titreproject {
  width: 747px;
  padding-left: 411px;
  text-align: end;
  font-family: Poppins;
  padding-top: 71px;
}
.descriptionproject {
  width: 747px;
  padding-left: 427px;
  font-weight: bold;
  text-align: end;
  font-family: Poppins;
  padding-top: 120px;
}

.centerbouton {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  margin-left: 50px;
}
.texteblanc{
  padding-top: 25px;
  color: whitesmoke;
}
