.quote {
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 70vh;
  padding: 160px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 3.95px 3.95px 4.6px;
  flex-direction: column;
align-items: center;
  h2 {
    text-align: center;
  }
  input, label{
    width: 400px;
  }
  .bouton-moyen{
    width: auto;
  }

}


.form-control {
  border-style: none;
  border-bottom: solid 1px grey;
  background-color: rgba(128, 128, 128, 0.078);
  margin-bottom: 40px;
  margin-top: 20px;
}

.form-wrapper {
  margin-top: 50px;
}

.banner-quote {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(quote);
  width: 100vw;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  h1 {
    color: $white;
    margin-top: 120px;
  }
}
