*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#bouton-moyen-new-project {
  width: auto;
  margin: 0 auto 50px auto;
}


input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.changeradio {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  .form-check {
    padding: 0 12px;
  }
}

.changeradio label {
  display: inline-block;
  background-color: $orange;
  color: white;
  padding: 10px 20px;
  font-family: Poppins, sans-serif, Arial;
  font-size: 24px;
  border-radius: 4px;
  cursor: pointer;
}
.changeradio input[type="radio"]:checked + label {
  background-color: rgb(230, 172, 65);
  border: 1px solid black;
  color: black;
}

.changeradio input[type="radio"]:focus + label {
  background-color: rgb(230, 172, 65);
  border: 1px solid black;
  color: black;
}

.changeradio label:hover {
  background-color: rgb(251, 183, 57);
}


// --------------------------DESIGN--------------------------------------

.imgprojectnew{
  background-image: url(trainconductor);
  width: 600px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.projectchoicebox{
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  // margin-left: 80px;
  justify-content: center;
  align-items: center;

  h2 {
    margin-top: 100px;
  }
}

.buttonbox1 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  align-items: center;
}

.flexradio fieldset{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.website-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  .flexradio {
    text-align: center;
  }
}

.describe{
margin-top: 45px;
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
}
