.collab {
  width: 180px;
  height: auto;
  background-color:rgb(229, 216, 216);
}
.status{
  text-align: center;
  background-color: coral;
  border-radius:15px ;
  color: white;
  -webkit-border-radius:15px ;
  -moz-border-radius:15px ;
  -ms-border-radius:15px ;
  -o-border-radius:15px ;
}
.title{
  text-align: center;
  margin-top: 8px;

}
.price{
  background-color: rgb(121, 43, 181);
  border-radius:15px ;
  text-align: center;
  color: white;
  margin-top: 15px;

}
.collab-img{
  background-image: url(collab);
  width: 180px;
  height: 40px;
  background-size: cover;
  background-position: center;
}
